
body {
    background: linear-gradient(to bottom, #587ffd, #ffffff);
    font-family: 'Josefin Sans', sans-serif;
}

.panel {
  background-color: #d9ecf2; 
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.bg-custom{
	background: linear-gradient(45deg, #087e8b , #0b3954);
}

.panel p {
  padding: 10px 20px;
  color: #33475b;
}

.panel button {
  background-color: #FF5E5F; 
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
}

.panel button:hover {
  background-color: #3b88c3;
}
.boton {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: linear-gradient(45deg, #087e8b , #0b3954);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.boton:hover {
    background: linear-gradient(45deg, #0b3954, #087e8b );
	color: #fff;

}

.category-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.category-card {
    background: linear-gradient(45deg, #fff, #eee);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease-in-out;
}

.category-card:hover {
    transform: scale(1.05);
}

.category-image {
    height: 150px;
    overflow: hidden;
    position: relative;
}

.category-image img {
    width: 100%;
    height: auto;
}

.category-info {
    padding: 20px;
}

.category-info h2 {
    color: #333;
}