@charset "utf-8";
/* CSS Document */
body {
    background: linear-gradient(to bottom, #bfd7ea , #fff);
	font-family: 'Josefin Sans', sans-serif;
	height: 100vh;
	background-repeat: no-repeat;
 	background-attachment: fixed;
}


.nav-item,
.login-box,
.login-box h1,
.login-box p,
.login-box .user-box input {
    font-family: 'Montserrat', sans-serif;
}

.bg-custom{
    background: #1e1e5d;
	
}

.nav-item:hover{
	background-color: #ff8692;
	border-radius: 10px;
	box-shadow: 0 0 3px #ff8692, 0 0 20px #ff8692, 0 0 40px #ff8692, 0 0 80px #ff8692;
	transition: 0.2s linear;
}

.nav-item{
	font-family: 'Montserrat', sans-serif;
}
.logo {
    float: left;
    padding: 15px 16px;
}

header {
    background: #fff;
    color: #1e1e5d;
    text-align: center;
    padding: 20px 0;
	font-family: 'Josefin Sans', sans-serif;
}

.bg-custom{
	background: linear-gradient(45deg, #087e8b , #0b3954);
}

.relleno-footer{
	height: 80px;
}

footer {
	background: linear-gradient(45deg, #087e8b , #0b3954);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}