#carouselExampleIndicators1{
	background: #0b3954   ;
	padding: 10px;
	border-radius: 10px;
	margin: 40px 0;
}

.d-block{
	border: #087e8b  5px groove;
}

.titulo-libro{	
	color: #fff;
	font-size: 26px;
	margin-bottom: 30px;
}