html, body {
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #587ffd, #ffffff);
    font-family: 'Josefin Sans', sans-serif;
}

.nav-item,
.login-box,
.login-box h1,
.login-box p,
.login-box .user-box input {
    font-family: 'Montserrat', sans-serif;
}

.bg-custom{
    background: #1e1e5d;
	
}

.nav-item:hover{
	background-color: #ff8692;
	border-radius: 10px;
	box-shadow: 0 0 3px #ff8692, 0 0 20px #ff8692, 0 0 40px #ff8692, 0 0 80px #ff8692;
	transition: 0.2s linear;
}

.nav-item{
	font-family: 'Montserrat', sans-serif;
}
.logo {
    float: left;
    padding: 15px 16px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* LOGIN */
.login-box {
    width: 520px;
	height: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -37%);
    background: linear-gradient(45deg, #087e8b , #0b3954);
    box-sizing: border-box;
    border-radius: 10px;
    position: absolute;
    padding: 30px 30px;
}

/* REGISTRATE */
.login-box h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #e5eaf5;
    text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}

/* TEXTO DEBAJO DEL TITULO */
.login-box p {
    margin: 0 0 30px;
    padding: 0;
    line-height: 1.5;
    color: #e5eaf5;
    text-align: center;
	font-family: 'Montserrat', sans-serif;
}

/* ESTE ES COLOR DE TODOS LOS DATOS QUE PIDAMOS */
.login-box .user-box {
    position: relative;
	font-family: 'Montserrat', sans-serif;
}

.login-box .user-box input {
    font-family: 'Montserrat', sans-serif;
	width: 100%;
    padding: 10px 0;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #e5eaf5;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
	font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus + label,
.login-box .user-box input:valid + label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #1e1e5d inset !important;
    color: #e5eaf5 !important;
	border-bottom-color: #1e1e5d;
}

input:-webkit-autofill::first-line {
    color: #e5eaf5 !important;
}

/* ESTE ES BOTON REGISTRARSE */
.login-box form button {
    font-family: 'Josefin Sans', sans-serif;
    display: inline-block;
    padding: 10px 25px;
    color: #1e1e5d;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 4px;
    background: transparent;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* ESTE ES COLOR DE EFECTO CUANDO PASAS EL MOUSE POR ENCIMA DE ENVIAR */
.login-box form button:hover {
    background: #087e8b2;
    color: #e5eaf5;
    border-radius: 3px;
    box-shadow: 0 0 3px #ff8692, 0 0 5px #ff8692, 0 0 20px #ff8692, 0 0 50px #ff8692;
    transition: all 0.5s ease-in-out;
}


.login-box form button span {
    position: absolute;
    display: block;
}

.login-box form button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #FFFFeb);
    animation: bt-anim1 1s linear infinite;
}

/* ESTE ES COLOR DE LINEAS DE ENVIAR */
@keyframes bt-anim1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #FFFFeb);
    animation: bt-anim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes bt-anim2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #FFFFeb);
    animation: bt-anim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes bt-anim3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #FFFFeb);
    animation: bt-anim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes bt-anim4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}


